* {
    font-size: 15px;
  }
  
  body {
    min-height: 10vh;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navigation {
    position: fixed;
    top: 5px;
    left: 10px;
    bottom: 10px;
    width: 70px;
    box-sizing: initial;
    border-radius: 10px;
    border-left: 5px solid #4d5bf9;
    background-color: #4d5bf9;
    transition: width 0.7s;
    overflow-x: hidden;
  }
  
  .navigation.active {
    width: 250px;
  }
  
  .navigation ul {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 10px;
    padding-top: 15px;
  }
  
  .navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .navigation ul li.active {
    background: #fff;
  }
  
  .navigation ul li b:nth-child(1) {
    position: absolute;
    top: -20px;
    height: 100px;
    width: 100%;
    background: #fff;
    display: none;
  }
  
  .navigation ul li b:nth-child(1):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 20px;
    background: #4d5bf9;
  
  }
  
  .navigation ul li b:nth-child(2) {
    position: absolute;
    bottom: 20px;
    height: 20px;
    width: 100%;
    background: #fff;
    display: none;
  }
  
  .navigation ul li b:nth-child(2):before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    background: #4d5bf9;
  }
  
  .navigation ul li.active b:nth-child(1),
  .navigation ul li.active b:bth-child(2) {
    display: block;
  }
  
  .navigation ul li.active a {
    color: #333;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
  }
  
  .navigation ul li a .icon ion-icon {
    font-size: 1.5em;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding-left: 10px;
    height: 0px;
    line-height: 60px;
    white-space: normal;
  }
  
  .toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #4d5bf9;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toggle.active {
    background: #ff4d89;
  }
  
  .toggle ion-icon {
    position: absolute;
    color: #fff;
    font-style: 34px;
    display: none;
  }
  
  .toggle ion-icon.open,
  .toggle.active ion-icon.close {
    display: block;
  }
  
  .toggle ion-icon.close,
  .toggle.active ion-icon.open {
    display: none;
  }
  
  /* Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* Prevent font size inflation */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }
  
  /* Remove default margin in favour of better control in authored CSS */
  body, h1, h2, h3, h4, p,
  figure, blockquote, dl, dd {
    margin-block-end: 0;
  }
  
  /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* Set core body defaults */
  